<app-loading-spinner *ngIf="isLoading | async"></app-loading-spinner>
<img src="../../../assets/images/doctor-2025725_960_720.png" alt="">
<div class="wrapper" *ngIf="!(isLoading | async)">
  <form [formGroup]="loginForm" (ngSubmit)="send()">
    <div class="alert alert-danger" *ngIf="errorMessage | async" >{{errorMessage|async}}</div>
      <h1>Zaloguj!</h1>
      <div class="form-box">
          <label for="username">Adres email:</label>
          <input type="text" id="username" placeholder="Podaj nazwę użytkownika" name="username" formControlName="username">
          <span  class="error-text" *ngIf="!loginForm.controls['username'].valid && loginForm.controls['username'].touched ">Uzupełnij to pole.</span>

      </div>
      <div class="form-box">
          <label for="password">Hasło:</label>
          <input type="password" id="password" placeholder="Wpisz hasło" name="password" formControlName="password">
          <span  class="error-text" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched ">Uzupełnij to pole.</span>
      </div>

      <div class="control-buttons">
        <button type="submit" [disabled]="!loginForm.valid" class="send"
        [ngClass]="{'disabled-button' : !loginForm.valid}">Wyślij</button>
    </div>
</form>
</div>
