<div class="wrapper">
  <div class="chat-box">
    <div class="stranger">{{username}}</div>
    <hr>
    <div class="allbox-messages">
      <div class="message-box message-box-right " *ngFor="let message of messages | async ">
        <div class="message-text" ><p> {{message.message}}</p>
        </div>
        <div class="message-picture"><img src="https://ssw.solutions/app/uploads/2021/06/Hy%C5%BCy-Mateusz.jpg" alt="">
        </div>
      </div>
      <div class="message-box message-box-left">
        <div class="message-text"><p> ipsum dolor sit amet consectetur adipisicing elit. Nam illum voluptatem quo
          voluptatibus in neque iure quod minima error beatae enim dolore ipsa ea perspiciatis tempora doloribus aut,
          accusamus dolorum?lore</p>
        </div>
        <div class="message-picture"><img src="https://ssw.solutions/app/uploads/2021/06/Hy%C5%BCy-Mateusz.jpg" alt="">
        </div>
      </div>
  
    </div>
    <input type="text" (keyup.enter)="send()" [(ngModel)]="message">

  </div>
</div>
