@use '../shared/colors' as *;

.container-xxl {
  display: flex;
  height: calc(100vh - 82px);
}

app-loading-spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  background-color: $pure-white;
  z-index: 1;


}

.chat-box {
  position: relative;
  ::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $light-white;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: $light-white;
  }

  &__list{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px 10px 15px 5px;
    background-color: $pure-white;
    overflow: auto;
    width:100%;


  mat-form-field {
    mat-form-field-wrapper{
      background-color: #007bff;
      color: red;
    }
    width: 100%;
  }

    mat-selection-list{
display: flex;
flex-direction: column;


      mat-list-option{
        display: flex;
        height: 80px;
        padding-right: 0px;

        img{
          position: absolute;
          left: 10px;
        }





      }
    }

  }



  &__list,
  &__messages {
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba($color: #000000, $alpha: 0.4);
    background-color: $pure-white;
  }

  &__messages-hide{
    position: absolute;
    top: 0;
    left: -200%;
    // animation: hide 1s forwards;
  }

  &__list-hide{
    position:absolute;
    top: 0;
    bottom: 0;
    left: -200%;

  }

  &__search-input {
    margin: 10px 30px;
    font-size: 1.8rem;
  }



  &__chat-title {
    margin-left: 70px;

  }

  &__chat-date {
    font-size: 1.6rem;
    color: $dark;
    position: absolute;
    right: 15px;
  }

  &__chat-name {
    font-size: 1.6rem;
    font-weight: 500;
  }

  img {
   position: relative;
    top: 5px;
    width: 60px;
    height: 60px;
  }

  &__last-message {
    font-size: 1.6rem;
  }

  .cs {
    // padding: 10px 0px;
    margin-left: 70px;
  }

  &__messages {
    position: relative;
    width: calc(60% - 20px);
    margin: 0px 0px 15px 0px;
    overflow: auto;
    width: 100%;
      animation: show 0.5s forwards;

    .discussion_header{
      display: flex;
      // align-items: center;
      position: relative;

      h2{
        font-size: 2rem;
        margin-top: 10px;

      }

      .close-icon{
        position: absolute;
        right: 5px;
        font-size: 4rem;
        padding: 20px;
        cursor: pointer;
      }

      button{
        position: absolute;
        right: 100px;
        bottom: 10px;
        padding: 5px 30px;


      }

    }
  mat-form-field{
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    bottom: 0px;
    width: 95%;
    background-color: #fff;

  }
  }
}


.allbox-messages {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: calc(100% - 155px) ;
  overflow: auto;
  padding-top: 15px;



  .message-box {
    display: flex;
    position: relative;
    margin-bottom: 25px;
    transition: all 2s;





    .message-text {
      max-width: 75%;
      padding: 15px 15px 0px 15px;
      border-radius: 40px;
    }

    .message-picture {
      position: absolute;
      bottom: 0;

      img {
        width: 60px;
        border-radius: 50%;
      }
    }
  }

// Style klasy wiadomości po prawej stronie
  .message-box-right{
    justify-content: flex-end;
    padding-right: 80px;

    .messages-author{
      position: absolute;
      top: -18px;
      right: 105px;
      color: rgb(109, 113, 111);

    }

    .message-text{
      background-color:#007bff;
      color: #fff ;

      text-align: right;
      font-size: 1.6rem;
      word-wrap: break-word;


      .lastMessageDate{
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        right: calc(100% + 25px);
        bottom: 16px;
         color: rgb(109, 113, 111);

         span{
          position: absolute;
          white-space: nowrap;

         }


      }
    }
    .message-picture{
      right: 15px;
    }
  }

// Style klasy wiadomości po lewej stronie
  .message-box-left{
    justify-content: flex-start;
    padding-left: 80px;

    .messages-author{
      position: absolute;
      top: -18px;
      left: 105px;
      color: rgb(109, 113, 111);

    }

    .message-text{
      background-color: #e4e6eb;
      color: #050505 ;
      text-align: left;
      font-size: 1.6rem;
      word-wrap: break-word;
      .lastMessageDate{
        position: relative;
        display: flex;
        justify-content: flex-start;
        margin-left: calc(100% + 25px);
        bottom: 16px;
        align-items: center;
         color: rgb(109, 113, 111);

         span{
          position: absolute;
          white-space: nowrap;
         }
        }}
    .message-picture{
      left: 15px;
    }
  }
}



.popup{
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  z-index: 10;


  &__shadow{
    width: 150%;
    height: 150%;
    background-color: rgba(0,0,0,0.6);
    z-index: -1;
  }

  &__form{


    mat-form-field{
    width:330px;

    }

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    max-width: 370px;
    height: 500px;
    padding: 20px;
    background-color: $light-white;
    z-index: 100;
    border-radius: 10px;


    h2{
      position: absolute;
      top: 10px;
    }

    button{
      position: absolute;
      right: 20px;
      bottom: 20px;
      padding: 5px 30px;
    }
    &-x-icon{
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 2rem;
      cursor: pointer;
    }

  }
}

.add-visit-btn{
  background-color: $main-color;
  color: $pure-white;
}

.popup-hide{
  display: none;
}


@media(min-width:768px){
  .chat-box{

    &__list{
      width: 40%;
      animation: none;
    }



    &__list-hide{
      position:relative;
      top: 0;
      bottom: 0;
      left: 0;

    }

    &__messages{
      width: calc(60% - 20px);
      animation: none
    }

    &__messages-hide{
      position: relative;
      top: 0;
      left: 0;
      animation: none;
    }
  }




}
@keyframes hide {
  from {left: 0px;

  }
  to {left: -150%;
  }
}

@keyframes show {
  from {left: -150%;

  }
  to {left: 0;
  }
}

@media(min-width:992px){

    .chat-box{
      color:

        &__chat-name{
          font-size: 2rem;
        }

        &__last-message{
          font-size: 2rem;
        }


        &__messages{

          .discussion_header{

            h2{
              font-size: 3rem;
              margin-top: 30px;
            }

            button{
              font-size: 1.6rem;
              bottom: 30px;
            }

          }

        }


    }

}
