<div class="wrapper">
  <form>
      <h1>Zaloguj!</h1>
      <div class="form-box">
          <label for="username">Nazwa użytkownika:</label>
          <input type="text" id="username" placeholder="Podaj nazwę użytkownika"[(ngModel)]="username" name="username">
          <p class="error-text">error</p>
      </div>
      <div class="form-box">
          <label for="password">Hasło:</label>
          <input type="password" id="password" placeholder="Podaj hasło" [(ngModel)]="password" name="password">
          <p class="error-text">error</p>
      </div>

      <div class="control-buttons">
        <button type="submit" class="send" (click)="send()">Wyślij</button>
    </div>
</form>
</div>
