$main-color: rgb(25, 115, 223);
$secondary-color: #cc165f;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$green-color: #00ffaa;
$green-color-hover: #30e27a;

$navbar-gradient: linear-gradient(45deg, rgb(67, 136, 248), rgb(8, 93, 198));
$light-blue-gradient: linear-gradient(45deg, rgba(3, 209, 255, 0.3), rgba(8, 17, 149, 0.5));
$blue-gradient: linear-gradient(45deg, rgba(25, 110, 243, 0.3), rgba(42, 10, 184, 0.5));
$purple-gradient: linear-gradient(45deg, rgba(47, 87, 245, 0.3), rgba(152, 25, 220, 0.5));
$blue-gradient-solid: linear-gradient(45deg, rgb(25, 115, 223), rgb(42, 10, 184));
$light-blue-gradient-solid: radial-gradient(circle at top right, rgb(12, 80, 255) 0%, rgb(0, 220, 255) 100%);
