<div *ngIf="isLoading" style="text-align: center; margin-top: 10em;">
  <app-loading-spinner></app-loading-spinner>
</div>
<div class="wrapper" *ngIf="!isLoading">

  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <h1>Zarejestruj się!</h1>
    <div class="alert alert-danger" *ngIf="error">{{error}}</div>
    <div class="form-box">
      <label for="username">Nazwa użytkownika:</label>
      <input type="text" id="username" placeholder="Podaj nazwę użytkownika" name="username" formControlName="username">
      <span *ngIf="!signupForm.get('username')!.valid && signupForm.get('username')!.touched" class="error-text"><span
          *ngIf="!signupForm.get('username')!.value">Uzupełnij nazwę użytkownika.</span>
        <span *ngIf="signupForm.get('username')?.hasError('minlength')">Nazwa użytkownika musi posiadać conajmniej 5
          znaków.</span>
        <span *ngIf="signupForm.get('username')?.hasError('maxlength')">Nazwa użytkownika nie może posiadać więcej niż
          15 znaków.</span>
      </span>
    </div>
    <div class="form-box">
      <label for="password">Hasło:</label>
      <input type="password" id="password" placeholder="Podaj hasło" name="password" formControlName="password">
      <span *ngIf="!signupForm.get('password')!.value && signupForm.get('password')!.touched"
        class="error-text">Uzupełnij hasło.</span>
      <span
        *ngIf="!signupForm.get('password')!.valid &&  signupForm.get('password')!.touched && signupForm.get('password')!.value"
        class="error-text">Hasło musi zawierać:
        <span [ngClass]="{'line-through' : !signupForm.get('password')?.hasError('minlength') }">co najmniej 8
          znaków, </span>
        <span [ngClass]="{'line-through' : !signupForm.get('password')?.hasError('requiresnumber')}">cyfrę, </span>
        <span [ngClass]="{'line-through' : !signupForm.get('password')?.hasError('requiresuppercase')}">dużą
          literę, </span>
        <span [ngClass]="{'line-through' : !signupForm.get('password')?.hasError('requireslowercase')}">małą
          literę, </span>
        <span [ngClass]="{'line-through' : !signupForm.get('password')?.hasError('requiressymbol')}">znak
          specjalny </span>
      </span>
    </div>
    <div class="form-box">
      <label for="repassword">Powtórz hasło:</label>
      <input type="password" id="repassword" placeholder="Powtórz hasło" name="repassword" formControlName="repassword">
      <span *ngIf="!signupForm.get('repassword')!.valid && signupForm.get('repassword')!.touched "
        class="error-text">Wpisz poprawne hasło.</span>
    </div>
    <div class="form-box">
      <label for="email">Adres e-mail:</label>
      <input type="email" id="email" placeholder="Podaj adres mailowy" name="email" formControlName="email">
      <span *ngIf="!signupForm.get('email')!.valid && signupForm.get('email')!.touched" class="error-text"><span
          *ngIf="!signupForm.get('email')!.value">Uzupełnij adres email.</span>
        <span *ngIf="signupForm.get('email')!.value"> Wpisz prawidłowy email.</span>
      </span>

    </div>
    <div class="form-check form-switch">
      <input type="checkbox" formControlName="acceptTerms" class="form-check-input" id="flexSwitchCheckDefault" />
      <label for="acceptTerms" class="form-check-label">
        Zapoznałem/am się i akceptuje <a href="">regulamin</a></label>
    </div>
    <div class="control-buttons">
      <button type="reset" class="clear">Wyczyść</button>
      <button type="submit" [disabled]="!signupForm.valid" class="send"
        [ngClass]="{'disabled-button' : !signupForm.valid}">Wyślij</button>
    </div>

  </form>
</div>
