@use '../../shared/colors' as *;


img{
  position: absolute;
  left: 0;
  z-index: -1;


}

.wrapper {
  width: 440px;
  background-color: $pure-white;
  box-shadow: 0 0 10px #000;
}


form {
  padding: 30px;
  font-size: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

.form-box {
  margin-bottom: 10px;
}

.form-box label {
  display: inline-block;
}

.form-box input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid $light-white;
  border-radius: 5px;
}

.form-box.error input {
  border: 1px solid $secondary-color;
  background-color: rgba(99, 12, 15, 0.1);
}

.form-box .error-text {
  font-size: 14px;
  color: $secondary-color;
}


.control-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}

.send,
.clear {
  display: block;
  padding: 10px 0;
  margin-left: 10px;
  width: 100px;
  font-size: 18px;
  background-color:$main-color;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.send:hover,
.clear:hover {
  background-color: $main-color;
}

.disabled-button,
.disabled-button:hover {
  background-color: $dark;
}

.line-through {
  text-decoration: line-through;
}

.form-check-label {
  font-size: 1.1rem;
}
