@use '../shared/colors' as *;
.cards {
    &__card {
      position: relative;
      margin: 20px 10px;
      height: 450px;
      color: $pure-white;
      text-align: center;
      perspective: 1000px;

      &:hover {
        .cards__card-img {
          transform: rotatex(180deg);
          opacity: 0;
        }

        .cards__card-info {
          transform: rotatex(0deg);
          opacity: 1;


        }
      }

      &-img {
        padding: 2em;
        height: 100%;
        border-radius: 8px;
        background-size: cover;
        transition: transform 0.5s, opacity 1s;

        &--first {
          background-image: $light-blue-gradient, url(../../assets/images/doctor-5965973_960_720.png);
        }

        &--second {
          background-image: $blue-gradient, url(../../assets/images/surgeon-6207766_960_720.png);
        }

        &--third {
          background-image: $purple-gradient, url(../../assets/images/health-2082630_960_720.webp);
        }

        &-title {
          font-size: 2rem;
        }

        &-info {
          position: absolute;
          bottom: 30px;
          right: 30px;
          font-size: 1.6rem;

          i {
            margin-right: 5em;
          }
        }
      }

      &-info {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        background-image: $light-blue-gradient-solid;
        border-radius: 8px;
        opacity: 0;
        transform: rotatex(-180deg);
        transition: transform 0.5s, opacity 1s;
        padding-top: 60px;

        p{
          font-size: 1.4rem;
          padding: 0 15px;
        }



        &-title {
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          top: 10px;
          width: 100%;
          padding:5px 10px;
          font-size: 2rem;
          font-weight: bold;


        }


        &-btn {
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          bottom: 10px;
          padding: 10px;
          border-radius: 8px;
          width: 50%;
          border: none;
          background-color: $green-color;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: $green-color-hover;
          }
        }
      }
    }
  }

  @media(min-width:768px) {
    .cards{

      &__card{

          &-info{
            p{
              font-size: 2rem;
            }

            &-title{
              font-size: 2rem;
            }

          }

      }

    }

  }
