

<div class="wrapper">
    <div class="cards">
        <div class="cards__card" onclick="void(0)">
            <div class="cards__card-img cards__card-img--first">
                <h3 class="cards__card-img-title">Aplikacja do komunikacji z pacjentami</h3>
                <p class="cards__card-img-info">>> Dowiedz się więcej
                </p>
            </div>

            <div class="cards__card-info">
                <h3 class="cards__card-info-title">Aplikacja do komunikacji z pacjentami</h3>
               <p>Ta aplikacja została stworzona aby ułatwić komunikacje między lekarzami a pacjentami</p> <hr><p>Lekarze również mogą się konsultować między sobą</p>
               <hr><p>Niedozwolone jest komunikowaniowanie się pomiędzy pacjentami.</p>
               <hr><p>Aplikacja została wyposażona w pełną autoryzacje oraz walidacje formularzy</p>

                <button routerLink="/chat" class="cards__card-info-btn btn-special-animation">Wybierz</button>
            </div>
        </div>
        <div class="cards__card" onclick="void(0)">
            <div class="cards__card-img cards__card-img--second">
                <h3 class="cards__card-img-title">Porozmawiaj z lekarzem</h3>
                <p class="cards__card-img-info">>> Dowiedz się więcej
                </p>
            </div>

            <div class="cards__card-info">
                <h3 class="cards__card-info-title">Porozmawiaj z lekarzem</h3>
                <p>Wybierz lekarza z którym chcesz porozmawiać aby dodać go do chatu. </p>
                <hr><p>Konsultuj się z lekarzem w dogodnym momencie.</p>

                <button routerLink="/chat" class="cards__card-info-btn btn-special-animation">Wybierz</button>
            </div>
        </div>

        <div class="cards__card" onclick="void(0)">
            <div class="cards__card-img cards__card-img--third">
                <h3 class="cards__card-img-title">Umów się na wizytę</h3>
                <p class="cards__card-img-info">>>Dowiedz się więcej
                </p>
            </div>

            <div class="cards__card-info">
                <h3 class="cards__card-info-title">Umów się na wizytę</h3>
                <p>W tej aplikacji umówisz się na wizytę u lekarza lub teleporadę.Swoje zaplanowane wizyty. </p>
            <hr><p> W każdej chwili sprawdzisz Swoje zaplanowane wizyty.</p>

                <button routerLink="/visit" class="cards__card-info-btn btn-special-animation">Wybierz</button>
            </div>
        </div>

    </div>


</div>
